*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header,main,footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(97, 94, 94);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    gap: 20px;
    background-color: rgb(119, 174, 245);
    display: grid;
    grid-template-columns: 1fr;
}
section{
    background-color: white;
    border-radius: 5px;
}
section p{
    padding: 20px 0;
}
section h2{
    border-bottom: 1px solid rgb(97, 94, 94);
    display: inline-block;
}
