
:root {
    --fundo-header: #FAFAF8;
    --texto-titulo: #2E3133;
    --fundo-hero: #F2EEE8;
    --botao: #47614E;
    --texto-botao: #FFFFFF;
    --borda: #D9D9D6;

}





body{

    margin:40px;

    font-family:Roboto,sans-serif;

    background:var(--fundo-hero);

    color:var(--texto-titulo);

}

header{

    text-align:center;
    background-color: var(--fundo-header);


}
header img{

    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1,h2{

    font-family:Poppins,sans-serif;

    color: var(--texto-titulo);

}

section{

    margin-bottom:40px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th,td{

    border:1px solid var(--borda);

    padding:10px;

}

th{

    background:#2F5D50;

    color:var(--texto-botao);

}

.fundo-header{

    background:var(--fundo-header);

    color:var(--texto-titulo);

}


.fundo-hero{

    background:var(--fundo-hero);

}

.texto-titulo{
    background-color: var(--texto-titulo);
    color: var(--texto-botao);
}

.botao{

    background:var(--botao);
    color: var(--texto-botao);

}

.texto-botao{

    background:var(--texto-botao);

    color:var(--texto-titulo);

}

pre{

    background:#eeeeee;

    padding:20px;

    overflow:auto;

}