/* reset inicial */



:root {

    --azul: rgb(65, 65, 164);
    --preto: rgba(40, 40, 40, 0.5);
}

* {
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

header h2 {
    background-color: var(--azul);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 100;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}

header span {
    display: block;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    flex: 1 1 100%;
    border-radius: 0 0 5px 5px;
    padding: 20px 100px;



}

header ul a {
    color: white;
    font-size: 20px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #4FC3F7;
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



body {
    font-family: "Roboto", sans-serif;

}

main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

}

main h1 {
    grid-column: 1/3;
    text-align: center;
}

main h3 {
    background-color: var(--azul);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.card {

    border: 1px solid var(--preto);
    padding: 0 20px 20px;
    border-radius: 5px;

}

.card img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

.container2 {
    display: grid;
    grid-template-columns: 200px 1fr; /* coluna da imagem + coluna do texto */
    gap: 20px;
    align-items: start;
}
.container2 .cidade {
    display: contents;
}

.container2 .cidade h4 {
    grid-column: 1 / 3; 
    grid-row: 1;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

.container2 .cidade p {
    grid-column: 2;      
    grid-row: 2;
    margin: 0;
}

.container2 figure {
    grid-column: 1;       
    grid-row: 2;
    text-align: center;
    margin: 0;
}

.container2 figure img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.container2 figcaption {
    font-size: 12px;
    margin-top: 5px;
}

footer {
    font-family: "Playfair Display", serif;
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

footer p {
    font-size: 18px;
    margin: 0;
}

#ultimaModificacao {
    color: #E8E893; 
    font-size: 14px;
}