@media (min-width:1000px) {


    body{
        min-height: 100vh;
    }


    header,
    main,
    footer {


        max-width: 1800px;
        width: 100%;
        margin: auto;

   
    }
    main{
        height: calc(100vh - 130px);
    }


    .hero{
        position: relative;
        height: 100%;
    }
   

    .dados{
        position: absolute;
        background-color: var(--transparente);
        border-bottom: none;
        border-radius: 5px;
        padding: 45px 20px 20px;

        left: 3%;
        top: 6%;
        max-width: 30%;

    }
    .dados h2{
        position: absolute;
        left: -10px;
        background-color: var(--verdeClaro);
        top: 10px;
        width: 50%;
        color: var(--branco);
        padding: 5px 0;
        border-radius: 5px;
    }
    
    

     .clima{
        position: absolute;
        background-color: var(--transparente);
        border-bottom: none;
        border-radius: 5px;
        padding: 45px 20px 20px;

        right: 3%;
        bottom: 6%;
        max-width: 30%;


    }
    .clima h2{

        position: absolute;
        left: -10px;
        background-color: var(--verdeClaro);
        top: 20px;
        width: 50%;
        color: var(--branco);
        padding: 5px 0;
        border-radius: 5px;
    }
    .clima h2::after{
        content: " 🌤️";
        font-size: 2rem;
    }


}