
:root{
    --azul: #003DA5;
    --branco: #FFFFFF;
    --rosa: #E56A8A;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{

    max-width: 400px;
    margin: 0 auto;
}

.cabecalho{
    text-align: center;
    padding: 30px;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 5px 5px 0 0;
}

picture{
    background-color: var(--rosa);
}

picture img{
    margin: 5px 0;
    width: 100%;
    object-fit: cover;

}


