
:root{
    --azul: #2b60bd;
    --branco: #FFFFFF;
    --rosa: #fabacb;
    --verde: #021F18;
    
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{

    max-width: 450px;
    margin: 0 auto;
    
}

.cabecalho{
    text-align: center;
    padding: 30px;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 5px 5px 0 0;
}
main{
    border-left: 1px solid var(--verde);
    border-right: 1px solid var(--verde); 
}

picture{
    background-color: var(--rosa);
    display: block;
}

picture img{
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;

}

.dados{
    margin: 10px auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    width: 70%;
    
}
.dados p{

    padding: 10px;
    
    

}

.clima{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
     
}
.clima p{
    padding: 10px;
}

.clima .icone{

margin-top: 50px;
align-items: center;}


footer{
    font-family: "Playfair Display", serif;
    background-color: var(--rosa);
    color: var(--verde);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;

}

footer p {
    font-size: 18px;
    margin: 0;
}

#ultimaModificacao {
    color: var(--verde); 
    font-size: 14px;
}


