@media (min-width:1000px) {

    header,
    main,
    footer {


        max-width: none;
        width: 100%;
        margin: 0px auto;
    }

    .hero{
        position: relative;
    }

    .dados{
        position: absolute;
        background-color: var(--transparente);
        border-bottom: none;
        border-radius: 5px;
        padding: 45px 20px 20px;

        left: 20px;
        top: 50px;
        max-width: 30%;

    }
    .dados h2{
        position: absolute;
        left: -10px;
        background-color: var(--verdeClaro);
        top: 10px;
        width: 50%;
        color: var(--branco);
        padding: 5px 0;
        border-radius: 5px;
    }
    

     .clima{
        position: absolute;
        background-color: var(--transparente);
        border-bottom: none;
        border-radius: 5px;
        padding: 45px 20px 20px;

        right: 20px;
        bottom: 50px;
        max-width: 30%;

    }
    .clima h2{

        position: absolute;
        left: -10px;
        background-color: var(--verdeClaro);
        top: 20px;
        width: 50%;
        color: var(--branco);
        padding: 5px 0;
        border-radius: 5px;
    }
    .clima h2::after{
        content: " 🌤️";
        font-size: 2rem;
    }


}