


:root {

    --azul: rgb(65, 65, 164);
    --preto: rgba(40, 40, 40, 0.5);
    --escuro: rgb(40, 40, 40);
    --amarelo: rgb(212, 232, 99);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: var(--azul);
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    color: white;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

#menu-btn{

    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem;
}

#menu-btn::before{
    content: "≡";
    color: white;
    
}

header.open #menu-btn::before{
    content: "✕";
    color: white;
}

nav {
    display: none;
}

header.open nav{
    display: block;
    grid-column: 1/3;
}

nav ul{

    list-style: none;
    margin-top: 1rem;
    text-align: center;
}

nav li{

    padding: 10px;
    margin: 10px auto;
    justify-content: center;
}

nav a{

    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    
}
nav a:hover{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}






main{
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid var(--preto);
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}
main h1{

    margin: 10px auto;
    text-align: center;
}

figure img{

    width: 100%;
    height: auto;
    padding: 10px;
}
figure{
    margin: 0;
    text-align: center;
}









footer {
    font-family: "Playfair Display", serif;
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 0 5px 5px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer p {
    font-size: 18px;
    margin: 0;
}

#ultimaModificacao {
    color: var(--amarelo);
    font-size: 14px;
}