


:root {

    --azul: rgb(65, 65, 164);
    --preto: rgba(40, 40, 40, 0.5);
    --escuro: rgb(40, 40, 40);
    --amarelo: rgb(212, 232, 99);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--azul);
    color: white;

}
header h1{
    padding: 20px auto;
    text-align: center;
    justify-content: center;
}

.menu{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu.open{
    display: flex;
    flex-direction: column;

    
}
.menu.open a{
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    color: white;
}

#botao-menu::before{
    content: '☰';
    font-size: 2rem;
    color: white;
}
#botao-menu.open::before{
    content: '❌';
   
}
#botao-menu{
    border: none;
    background: transparent;
    cursor: pointer;
}



main{
    max-width: 800px;
    margin: 0 auto;
}

.album{
    display: grid;
    grid-template-columns: 1fr;
}

figure img{
    width: 100%;
    max-width: 300px;
    height: auto;
}
figure{
    text-align: center;
}

footer {
    font-family: "Playfair Display", serif;
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

footer p {
    font-size: 18px;
    margin: 0;
}

#ultimaModificacao {
    color: var(--amarelo);
    font-size: 14px;
}